@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', serif;
  }

  /* Optional: custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 4px;
}